@import url('https://fonts.googleapis.com/css2?family=Allerta+Stencil&display=swap');

$font-logo: "Allerta Stencil";

.text-center {
  text-align: center;
}

.text-orange {
  color: $orange;
}

.bold {
  font-weight: 700;
}