table {
  border-collapse: collapse;
}

.table {
  width: 100%;
  margin-bottom: 1rem;
  border-radius: 5px;
  overflow: hidden;
}

.table thead th {
  vertical-align: bottom;
  border-bottom: 2px solid $orange;
}

.table td, .table th {
  padding: .75rem;
  vertical-align: top;
  border-top: 1px solid $orange;
  text-align: center;
}