.action {
  cursor: pointer;
}

.btn-salmon {
  background-color: $salmon;
  border-radius: 4px;
  cursor: pointer;
  padding: 4px;
  &:hover {
    transition: 0.5s;
    background-color: $orange;
  }
}

.btn-orange {
  background-color: $orange;
  border-radius: 4px;
  cursor: pointer;
  padding: 4px;
  &:hover {
    transition: 0.5s;
    background-color: $intermediate
  }
}

.btn-orange-large {
  font-size: 28px;
  background-color: $orange;
  border-radius: 4px;
  cursor: pointer;
  padding: 4px;
  &:hover {
    transition: 0.5s;
    background-color: $intermediate
  }
}

