.card-odd {
  position: relative;
  background-color: white;
  padding: 5px;
  border-radius: 5px;
  border: 2px solid $salmon;
  width: 300px;
  display: flex;
  justify-content: space-between;
  .card-odd-detail {
    width: 33%;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
    .team {
      height: 18px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
    .risk, .safe, .intermediate {
      font-size: 2rem;
    }
    .risk {
      color: $risky;
    }
    .safe {
      color: $safe
    }
    .intermediate {
      color: $intermediate
    }
  }
}

.card-country {
  background-position: center;
  background-size: cover;
  width: 150px;
  height: 100px;
  border-radius: 15px;
  font-size: 24px;
  a {
    color: $black;
    border-radius: inherit;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.active-odd {
  background-color: $salmon;
  border-radius: 8px;
  border: $green-dark;
  padding: 8px;
}

.card-bet {
  padding: 8px;
  border-radius: 8px;
  border: 1px solid black;
  margin: 8px;
  &.green {
    color: green;
  }
  &.red {
    color: red;
  }
}