.container {
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.container-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.background {
  min-height: 100vh;
  background-image: url('../img/background.svg');
  background-position: center;
  background-size: cover;
}